doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/X/dependency/jquery-1.10.2.js")
    script(src='/X/dependency/ember/handlebars.js')
    script(src='/X/dependency/ember/ember.js')

    script(src='/X/base/core.js')
    script(src='/javascripts/test.js')
  body
    block content